* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: #161513;
    color: white;
    font-family: 'outfit', sans-serif;
}


@media (max-width: 500px) {
    .footer,
    .contact,
    .mywork,
    .services,
    .about {
        margin-left: 20px;
        margin-right: 20px;
    }

    .contact {
        width: 80%;
    }
}

@media (max-width: 400px) {
    .about-title h1,
    .services-title h1,
    .mywork-title h1,
    .contact-title h1
    {
        font-size: 35px;
    }
} 